{% extends 'base.html' %}
{% block body %}
 <form method="POST" enctype="multipart/form-data">
 {% csrf_token %}
      <label>Name:</label>
    <input type="text"  name="name" placeholder="Enter your movie name"><br>
      <label>Description:</label>
    <input type="text"  name="desc" placeholder="Enter your movie description"><br>
      <label>Movie year:</label>
    <input type="text"  name="year" placeholder="Enter your movie year"><br>
    <input type="file"  name="img"><br>
    <input type="submit"><br>
 </form>
 {% endblock %}